.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
*{
  margin: 0;
  padding: 0;
}
header{
  background-color: #FFFFFF;
  padding: 16px 120px;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.nav-option ul{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 32px;
}
.nav-btn button{
  color: white;
  background-color: #30B868;
  padding: 12.5px 16px;
}
#hero{
  background-image: url(../assets/hero-bg.png);
  height: 674px;
  min-height: 431px;
  position: relative;
}

.hero-accesss{

  display: flex;
  gap: 6px;
  border-radius: 100px;
  background: #FFFFFF;
  color: #30B868;
  margin-top: 154.5px;
  padding: 8px 12px;
}
.access-title{
  font-size: 16px;
  font-weight: 500;
}
.hero-text{
  font-size: 72px;
  font-weight: 700;
  margin-top: 16px;
}
.hero-text{
  color: #FFFFFF;
}
.hero-text span{
  color: #30B868;
}
.hero-smallText{
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  margin-top: 16px;
}
.hero-button{
  display: flex;
  gap: 16px;
  margin-top: 32px;
}
.start-btn button{
  background: #30B868;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 16.5px;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  gap: 10px;
}
.hero-work button{
    padding: 16px 12px;
      border: 1px solid white;
        border-radius: 4px;
      font-size: 16px;
      font-weight: 600;
      display: flex;
      gap: 10px;
      background: transparent;
      color: white;
}
.hero-contain{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
