.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
*{
  margin: 0;
  padding: 0;
}
header{
  background-color: #FFFFFF;
  padding: 16px 120px;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.nav-option ul{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 32px;
}
.nav-btn button{
  color: white;
  background-color: #30B868;
  padding: 12.5px 16px;
}
#hero{
  background-image: url(../assets/hero-bg.png);
  height: 674px;
  min-height: 431px;
  position: relative;
}

.hero-accesss{

  display: flex;
  gap: 6px;
  border-radius: 100px;
  background: #FFFFFF;
  color: #30B868;
  margin-top: 154.5px;
  padding: 8px 12px;
}
.access-title{
  font-size: 16px;
  font-weight: 500;
}
.hero-text{
  font-size: 72px;
  font-weight: 700;
  margin-top: 16px;
}
.hero-text{
  color: #FFFFFF;
}
.hero-text span{
  color: #30B868;
}
.hero-smallText{
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  margin-top: 16px;
}
.hero-button{
  display: flex;
  gap: 16px;
  margin-top: 32px;
}
.start-btn button{
  background: #30B868;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 16.5px;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  gap: 10px;
}
.hero-work button{
    padding: 16px 12px;
      border: 1px solid white;
        border-radius: 4px;
      font-size: 16px;
      font-weight: 600;
      display: flex;
      gap: 10px;
      background: transparent;
      color: white;
}
.hero-contain{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.notes-text p{
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 12px;
}
.notes-text span{
  font-size: 16px;
  font-weight: 400;
}
#notes{
  background: #FBFBFB;
  min-height: 500px;
  margin-top: 24px;
}
.scatted-notes P{
  font-size: 24px;
  font-weight: 600;
}
.scatted-notes span{
  font-size: 16px;
  font-weight: 400;
}
.bookmark p{
  font-size: 24px;
    font-weight: 600;
}
.bookmark span{
  font-size: 16px;
    font-weight: 400;
}
.idea p{
  font-size: 24px;
    font-weight: 600;
}
.idea span{
  font-size: 16px;
    font-weight: 400;
}
.forgetting p{
  font-size: 24px;
    font-weight: 600;
}
.forgetting span{
  font-size: 16px;
    font-weight: 400;
}
.bookmark{
  display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
    padding: 24px;
  border: 1px soild white;
  padding: 24px;
  gap: 16px;
  width: 222px;
    height: 200px;
}
.bookmark img{
  border: 1px solid white;
 background: rgba(249, 85, 85, 1);;
 border-radius: 100px;
 padding: 14px;
}
.scatted-notes{
  display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
    padding: 24px;
  border: 1px soild white;
    padding: 24px;
    gap: 16px;
    width: 222px;
      height: 200px;
}
.scatted-notes img{
    border: 1px solid white;
      background: rgba(249, 85, 85, 1);
      ;
      border-radius: 100px;
      padding: 14px;
}
.idea{
  display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
    padding: 24px;
    border: 1px soild white;
      padding: 24px;
      gap: 16px;
    width: 222px;
      height: 200px;
}
.idea img{
  border: 1px solid white;
    background: rgba(249, 85, 85, 1);
    ;
    border-radius: 100px;
    padding: 14px;
}
.forgetting img{
  border: 1px solid white;
    background: rgba(249, 85, 85, 1);
    ;
    border-radius: 100px;
    padding: 14px;
}
.forgetting{
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
    padding: 24px;
    gap: 16px;
    width: 222px;
    height: 200px;
}
.notes-boxes{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 32px;
}
.notes-contain{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}
.brain-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 120px;
  gap: 60px;
}
.text1{
  font-size: 16px;
  font-weight: 500;
  color: #30B868;
  margin-bottom: 20px;
}
.text2{
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 22px;
}
.text3{
  color: #627382;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 32px;
}
.text-info{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.info1{
  display: flex;
  align-items: center;
  gap: 6px;
}
.info2{
  display: flex;
  align-items: center;
  gap: 6px;
}
.info3{
  display: flex;
  align-items: center;
  gap: 6px;
}
.info4{
  display: flex;
  align-items: center;
  gap: 6px;
}

